# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex*
*.fls
*.fdb_latexmk

# Generated PDF file
*.pdf

# Large data file to be excluded from the repository
owid-covid-data.csv

# macOS specific files
.DS_Store 